body {
  background-color: #301a1b;
}
.container {
  
  background-color: #343633;
  border: 10px solid rgba(63, 61, 61, 0.212);
  border-radius: 30px 30px 7px 7px;
  box-shadow: 20px 20px 20px #888888;
  margin: 0 auto;
  max-width: 480px;
}
.screen {
  background-color: rgb(194, 194, 194);
  margin: 4em auto 0 auto;
  border: 3px solid black;
  width: 29.5em;
  height: 5em;
  border-radius: 10px;
  text-align: right; 
    
}

.screen p{
  
  font-family: 'Orbitron', sans-serif;
  margin: 0.4em 1em;
  font-size: 2.5em;
  color: black;
}

p {
  color: white;
}

.allclear {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.clearentry {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.tothepower {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.squareroot {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 2em;

}
.number {
  background-color: rgba(15, 15, 15, 0.822);
  color: rgb(252, 158, 17);
  border-radius: 15px;
  font-size: 2em;
}

.operator {
  background-color: rgb(15, 1, 1);
  border-radius: 15px;
  color: rgb(252, 158, 17);
  font-size: 2em
}

.decimal {
  background-color: black;
  color: white; 
  border-radius: 15px;
  font-size:2em;
  font-weight: bolder;
   
}

.equals {
  background-color: black;
  color: rgb(27, 163, 34);
  border-radius: 15px;
  font-size: 2em;
  font-weight: bolder;
}


.buttons {
  
  width: 30em;
  height: 30em;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (5, 1fr);
  grid-gap: 0.2em;  
  transition: all .5s ease-in-out;
  
  
}

.buttons > button {
  outline: none;
}

.buttons > button:hover {
  transform: scale(1.1);
}

button {
  font-family: 'Orbitron', sans-serif;
}

footer {
  margin-top: -1.5em;
}