.container {
  background-color: #343633;
  border: 10px solid rgba(63, 61, 61, 0.212);
  border-radius: 30px 30px 7px 7px;
  box-shadow: 20px 20px 20px #888888;
  margin: 0 32em 0 29em;
}
.screen {
  background-color: rgb(194, 194, 194);
  margin: 4em auto 0 auto;
  border: 3px solid black;
  width: 29.5em;
  height: 5em;
  border-radius: 10px;
  text-align: right; 
    
}

.screen p{
  margin: 0.4em 1em;
  font-size: 2.5em
}

.allclear {
  background-color: #3D315B;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.clearentry {
  background-color: #3D315B;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.tothepower {
  background-color: #3D315B;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.squareroot {
  background-color: #3D315B;
  color: white;
  border-radius: 15px;
  font-size: 2em;

}
.number {
  background-color: rgba(160, 45, 116, 0.822);
  color: white;
  border-radius: 15px;
  font-size: 2em;
}

.operator {
  background-color: #010400;
  border-radius: 15px;
  color: white;
  font-size: 2em
}

.decimal {
  background-color: #444B6E;
  color: white; 
  border-radius: 15px;
  font-size:2em;
  font-weight: bold;
   
}

.equals {
  background-color: #444B6E;
  color: white;
  border-radius: 15px;
  font-size: 2em;
}


.buttons {
  width: 30em;
  height: 30em;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (5, 1fr);
  grid-gap: 0.2em;
  
  transition: all .5s ease-in-out;
  
  
}

.buttons > button {
  outline: none;
}

.buttons > button:hover {
  transform: scale(1.1);
}
